body {
  background-color: #e9e3e3;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #646464;
}

h1 {
  display: block;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #b50965;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 0;
  text-shadow: 2px 3px 1px #00000033;
  letter-spacing: 4px;
  text-decoration: none;
}


main {
  max-width: 95%;
  margin: 10px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #00000033;
  border-radius: 6px;
}

[data-row] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 34px;
  margin: 25px;
  border: 1px solid lightgray;
}

.row {
  z-index: -10;
}

[data-row].red {
  background-color: #f6c5c5;
}

[data-row].yellow {
  background-color: #ffffa9;
}

[data-row].green {
  background-color: #baf6ba;
}

[data-row].blue {
  background-color: aliceblue;
}

.stone {
  z-index: 10;
}

[data-size] {
  width: 25px;
  float: left;
}

[data-size="1"] {
  height: 33px;
  background-color: blue;
}

[data-size="2"] {
  height: 38px;
  background-color: green;
}

[data-size="3"] {
  height: 43px;
  background-color: red;
}

[data-size="4"] {
  height: 48px;
  background-color: yellow;
}

#announce-game-won {
  font-size: 55px;
  text-align: center;
}