body {
  background-color: #e9e3e3;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #646464;
}

h1 {
  display: block;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #b50965;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 0;
  text-shadow: 2px 3px 1px #00000033;
  letter-spacing: 4px;
  text-decoration: none;
}


main {
  max-width: 95%;
  margin: 10px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #00000033;
  border-radius: 6px;
}

.row {
  z-index: -10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 54px;
  margin: 25px;
  border: 2px;
  border-radius: 5px;
  box-shadow: 3px 5px 4px #00000033;
}

#c {
  background-color: #e9e3e3;
}

#b {
  background-color: #c7bbbb;
}

#a {
  background-color: #9e9292;
}

.stone {
  z-index: 10;
  border-radius: 20px;
  margin: 0 1px;
  box-shadow: 3px 5px 4px #00000033;
}

[data-size] {
  width: 25px;
  float: left;
}

[data-size="1"] {
  height: 33px;
  width: 15px;
  background-color: #DCCCFF;
}

[data-size="2"] {
  height: 38px;
  width: 15px;
  background-color: #CC80CC;
}

[data-size="3"] {
  height: 43px;
  width: 15px;
  background-color: #932F6D;
}

[data-size="4"] {
  height: 48px;
  width: 15px;
  background-color: #420039;
}

#announce-game-won {
  font-size: 55px;
  text-align: center;
}